@model IEnumerable<WebVanPhongPham.Models.SanPham>
@using WebVanPhongPham.Models
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Content/bootstrap.min.js"></script>
}

<div class="row">
    @foreach (var sanpham in Model)
    { 
        <div id="img" style="text-align:center;" class="col-sm-4 col-lg-4 col-md-4" >
                <a href ="@Url.Action("Details", "SanPham", new { id = sanpham.MaSanPham })">
                    <img alt="@sanpham.TenSanPham" src="~/Content/HinhAnhSP/@sanpham.AnhBia" />
                </a>
                <div>
                    <br />
                    <div style="width:245px;height:55px;">
                    <a id="text" href="@Url.Action("Details", "SanPham", new { id = sanpham.MaSanPham })" style="font-size:medium">@sanpham.TenSanPham</a>
                    </div>
                    <h5 style="color:red">@String.Format("{0:0,0}",sanpham.GiaBan) <u>đ</u></h5>
                    <p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </p>
                </div>
                <br />
        </div>        
    }
</div>

<style>
    .MenuTrang li {
        display: inline;
    }

    .fl {
        float: right;
        font-size: medium;
        color: #0026ff;
    }

    .checked {
        color: orange;
    }
    #img 
    {
        border: 0px solid #d3d1d1;
        border-radius: 4px;
        padding: 5px;
    }
    #img:hover
    {
        box-shadow: 3px 2px 3px 5px #d3d1d1;
    }
    #text:hover {
        color:black;
        text-decoration:none;
    }
</style>
